/* body {
    font-family: sans-serif; 
    display:flex;
    flex-direction: column;
    color: white;
    background-color:#090C02
}

.page-container {
    display: flex;
    flex-direction: column;
    background-color: #090C02;;

} */

.species-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

.branch-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    display: hidden;
}